@charset "utf-8";
/* <UPLEAT> UI Dev Team JSW 180628 */

@font-face {
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  src:local('Noto Sans KR'), local('NotoSansKR-Regular'),
       url('/hanatour/uiguide/images/notokr-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/hanatour/uiguide/images/notokr-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
;}

/* =Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;}
body,h1,h2,h3,h4,h5,h6,select,input,textarea,button{font-family:Dotum,'돋움',Helvetica,'Apple SD Gothic Neo',sans-serif;}
body{font-size:14px;line-height:1.5;color:#222;word-break:break-all;/*-webkit-text-size-adjust:none;*/;}
input,select,textarea,button{font-size:14px;border-radius:0;vertical-align:top;-webkit-appearance:none;}
button,input,textarea{-webkit-border-radius:0;border-radius:0;}
button{background-color:transparent;cursor:pointer;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
table{width:100%;border-collapse:collapse;table-layout:fixed;border-spacing:0;}
ol,ul{list-style:none;}
em,address{font-style:normal;}
img,fieldset,iframe{border:0;}
img{height:auto;vertical-align:top;max-width:100%;}
a{color:#333;text-decoration:none;}
area{outline:0;}
input::-ms-clear{display:none;}
input[type=date]::-webkit-inner-spin-button{display:none;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-calendar-picker-indicator{display:none;}
input[type=number]{-moz-appearance:textfield;}
select{border-radius:0;}

.lsds-lnb{position:fixed;top:60px;bottom:0;left:0;width:200px;padding-top:10px;}
.lsds-container{width:auto;margin:0 0 0 200px;}
.lsds-logo {float:right;width:160px;margin:15px 20px 0 0;}

/* guide */
#page-wrapper {
	padding-top: 60px;
}
.lsds-page-wrapper,
.lsds-page-wrapper .content{position:relative;width:auto !important;}
#lsds-header{position:fixed;top:0;left:0;z-index:100;width:100%;height:60px;text-align:left;background:#161f28;}
#lsds-header .lsds-guide-tit a{
	display: block;
	padding: 0 10px;
	font-size: 20px;
	line-height: 60px;
	color:  #ffffff;
}
.lsds-page-wrapper #container{padding:0 10px 30px 10px;}
#lsds-uiguide .lsds-page-wrapper #container	{
	margin-right: 190px;
}
h1, h2, h3 {
    font-weight: normal;
    font-family: 'Roboto Condensed', Arial, sans-serif;
}
.content>h2{
	margin: 20px 0 10px 0;
	font-size: 50px;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
	text-transform: capitalize;
	color: #333;
}
.summary {
	margin: 5px 0 10px;
	font-size: 18px;
}

/* State Board */
.dataTables_filter {text-align:right;}
.dataTables_filter label {font-family:'Noto Sans KR', sans-serif;}
.dataTables_filter input{height:28px;margin-left:10px;border:1px solid #999;vertical-align:middle;}
.state_board table{width:100%;margin:10px 0 0;border-collapse:collapse;border-spacing:0;table-layout:fixed;}
.state_board table th,.state_board table td{padding:8px;border:1px solid #bfbfbf;}
.state_board table th{border-bottom:0 none;font-family:'Noto Sans KR', sans-serif;color:#fff;background:#58595b;}
.state_board table tbody td{font-size:12px;}
.state_board table .screen_id{width:100px;}
.state_board table .date{width:65px;}
.state_board table .author{width:60px;}
.state_board table .planner{width:50px;}
.state_board table .etc{width:100px;}
.state_board table .date,
.state_board table .author,
.state_board table .planner{text-align:center;}
.state_board table .screen_id a {position: relative;}
.state_board table .screen_id a:hover{display:block;text-decoration:underline;}
.state_board table .screen_id a:hover canvas{position:absolute;top:26px;left:-10px;z-index:10;border:3px solid #000;background: #fff}
.state_board table  .emulator {display:none}
.state_board table tbody tr.disabled td {color:#eee;background:rgba(88, 118, 163);}
.state_board table tbody tr.disabled td a {color:#eee;}
.state_board table tbody tr.complete td {background:#eee}

.mobile_emulator_display {position:absolute;top:50px;left:0;border:1px solid #999;background:#fff;padding:5px 10px;}
.mobile_emulator {position:fixed;top:50%;right:20px;background:#fff;border:1px solid #666;border-radius:30px;background:#fff;transform:translateY(-50%);background:#000;display:none;}
.mobile_emulator .mobile_emulator_inner {padding:20px 15px 20px;border-radius:30px;}
.mobile_emulator iframe {width:320px;height:550px;border:1px solid #666;background:#fff;}
.mobile_emulator_on .state_board {margin-right:380px;}
.mobile_emulator_on .mobile_emulator {display:block}
.mobile_emulator_on .depth4,
.mobile_emulator_on .depth5,
.mobile_emulator_on .planner,
.mobile_emulator_on .date_01,
.mobile_emulator_on .comment,
.mobile_emulator_on .ui_dev
 {display:none;}
.mobile_emulator_on .emulator
 {display:table-cell;}

 .emulator a {display:block;}

/* Data Table */
.table_type{width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;border-top: 1px solid #dddbda;border-bottom: 1px solid #dddbda;}
.table_type thead th {padding:10px;background-color: #fafaf9;color: #514f4d;border-left:1px solid #dddbda;}
.table_type thead tr th:first-child {border-left:0 none;}
.table_type thead th.hline{border-top:1px solid #dddbda;}
.table_type tbody th,
.table_type tbody td {padding:10px;border-top:1px solid #dddbda;border-left:1px solid #dddbda;}
.table_type tbody tr th:first-child,
.table_type tbody tr td:first-child {border-left:0 none;}
#lsds-header.guide_header{height:41px;background:#62584e;}

/* Menu */
/* .guide_lnb{padding:10px 10px 30px;}
.guide_lnb a{font-family:'Noto Sans KR', sans-serif;}
.guide_lnb a {
	display: block;
	text-transform: capitalize;
}
.guide_lnb > a{
	padding:5px 5px 5px 10px;
	border-left:5px solid transparent;
	font-size:16px;
}
.guide_lnb > a:hover{text-decoration:underline;}
.guide_lnb > a.current{border-left-color:#ac145a;background-color:#f4f5f5;}
.guide_lnb > ul{display:none;margin:4px 0;}
.guide_lnb > a.current + ul{display:block; margin-left:10px;}
.guide_lnb > a.current + ul > li{position:relative;}
.guide_lnb > a.current + ul > li.on{background:#fff7db;}
.guide_lnb > a.current + ul > li:after{ position:absolute; top:11px; left:10px; width:2px; height:2px;content:""; background:black;}
.guide_lnb > a + ul > li a{
	padding:3px 0 3px 20px;
	font-size:14px;
} */

.guide_lnb{padding:10px 10px 30px;}
.guide_lnb a{font-family:'Noto Sans KR', sans-serif;}
.guide_lnb a {
	display: block;
	text-transform: capitalize;
}
.guide_lnb > li > a{
	padding:5px 5px 5px 10px;
	border-left:5px solid transparent;
	font-size:16px;
}
.guide_lnb > a:hover{text-decoration:underline;}
.guide_lnb > .current > a{border-left-color:#ac145a;background-color:#f4f5f5;}
.guide_lnb ul{display:none;margin:4px 0;}
.guide_lnb > .current > ul{display:block; margin-left:10px;}
.guide_lnb > .current > ul > li{position:relative;}
.guide_lnb > .current > ul > li.on{background:#fff7db;}
.guide_lnb > .current > ul > li:after{ position:absolute; top:11px; left:10px; width:2px; height:2px;content:""; background:black;}
.guide_lnb > li > ul > li a{
	padding:3px 0 3px 20px;
	font-size:14px;
}


.guide_txt{padding:5px 0 0 10px;}


.lsds-ulist-group{
	list-style:disc;
	margin:.5rem 0 1.5rem 1.5rem;
}
.lsds-ulist-group>li{
	margin-bottom:.3rem;
}
.lsds-ulist-group ul{
	margin-left:1.5rem;
	list-style:circle;
	margin-bottom:1.5rem;
}



/* .content{
	counter-reset:chapter 0;
}
.content h3:before{
    counter-increment: chapter;
    content: counter(chapter) ". ";
} */
.content h3{
	margin:30px 0 20px;
	counter-reset: section 0;
	font-size: 22px;
}
.content>section:first-of-type>h3{margin-top:0;}
.content h4:before{
    counter-increment: section;
    content: counter(chapter) "." counter(section) ". ";
}
code.code_highlight{padding:3px 4px;font-family:Verdana, sans-serif;background-color: #fff4d1;}

/* 가이드 */

.doc_anchor {
    margin-left: 6px;
    font-size: .9em;
    color: currentColor;
}
.doc_anchor:hover {
    text-decoration: none;
}
.wrap main > section > section {
    counter-increment: chapter2;
    margin: 25px 0 10px;
}
.wrap main > section > section > h3 {
    margin-bottom: 10px;
}
.wrap main > section > section > h3::before {
    counter-increment: chapter, chapter2;
    content:counter(chapter) ". " counter(chapter2) ". ";
}
.wrap main > section > section > h3 a {
    margin-left: 6px;
    color: currentColor;
}
.doc_summary {
    margin: 5px 0 20px;
}
.doc_list {
    margin: 5px 0 20px;
}
.doc_list li {
    position: relative;
    padding-left: 10px;
    margin-left: 20px;
    line-height: 1.5;
}
.doc {
    margin: 5px 0 10px;
    font-size: 14px;
}
.doc_list > li:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: currentColor;
}

.lsds-table-contents {
    position: absolute;
    top: 50px;
    right: 20px;
    bottom: 0;
    border-left: 1px solid #eee;
    width: 150px;
    padding-top: 30px;
}
.lsds-table-contents.is-fixed {
    position: fixed;
    top: 50px;
}
.lsds-table-contents .title {
	padding: 0 0 10px 15px;
	font-size: 16px;
    color: #333;
}
.lsds-toc-list > li {
    position: relative;
}
.lsds-toc-list > li:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 15px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: currentColor;
}
.lsds-toc-list > li > ul {
    margin: 3px 0 10px 14px;
}
.lsds-toc-list > li > ul:empty {
    display: none;
}
.lsds-toc-list li a {
    display: block;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    color: #0070d2;
    text-decoration: none;
}
.lsds-toc-list > li > a {
    padding: 1px 10px 1px 25px;
}
.lsds-toc-list li a:hover {
    text-decoration: underline;
}
.lsds-toc-list li li a {
	padding: 1px 5px 1px 10px;
    font-size: 14px;
}

.CodeMirror {
    position: relative;
	height:auto;
    padding:10px;
	background: rgba(243, 244, 245, 1) !important;
}
textarea.lsds-code-content:before {
    content: 'ddd';
    position: absolute;
    display: block;
}
.CodeMirror pre {font-size:14px;font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;}
.cm-tag{color:#c92c2c;}
.cm-attribute{color: #2f9c0a !important;}
.cm-s-default .cm-string{color: #1990b8 !important;}

.cm-property {color: #905;}
.cm-s-default .cm-qualifier {color: #690;}
.cm-s-default .cm-comment {color: #647281;}

.lsds-code-preview {
    padding: 10px;
    border: 1px solid #eee;
}
.lsds-code-info {
    position:relative;
    height:30px;
    border: 1px solid #eee;
    margin-top: -1px;
}
.lsds-code-info .lsds-btn-codecopy {
    position:absolute;
    top:0;
    right:0;
    z-index:10;
    width:134px;
    border:1px solid #eee;
    padding:7px;
    font-family: 'Roboto Condensed', monospace;
    font-size:12px;
    text-align:center;
}

/* 컴포넌트 */
.ulist li {
    position:relative;
    padding-left:10px;
}
.ulist li:before {
    content:'-';
    position:absolute;
    top:0;
    left:0;
}

.tabs_default_nav {
    display: flow-root;
}
.tabs_default_nav li {
    position: relative;
    float: left;
    margin-right: -1px;
}
.tabs_default_nav li a {
    display: block;
    padding: 6px 10px;
    text-decoration: none;
}
.tabs_default_nav li.active a {
    border-bottom: 1px solid #999;
}
.tabs_default_nav li.active::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #1589ee;
    width: 100%;
    height: 2px;
}
.tabs_content {
    display: none;
    padding: 20px 0;
}
.tabs_content.show {
    display: block;
}


/* 모바일 */
@media (max-width:768px) {
	.guide_table th,.guide_table td ,.guide_table colgroup {display:none;}
	.guide_table th:nth-of-type(9),.guide_table td:nth-of-type(9),.guide_table th:nth-of-type(6),.guide_table td:nth-of-type(6){display:table-cell;}
}